* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    min-width: 1226px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.w {
    width: 1226px;
    margin: 0 auto;
}