.topbar_wrapper {
  width: 100%;
  /* height: 40px; */
  line-height: 40px;
  background-color: #333;
}

.topbar a {
  font-size: 12px;
  color: #b0b0b0;
  display: block;
}

.topbar a:hover {
  color: #fff;
}

.topbar .line {
  font-size: 12px;
  color: #424242;
  margin: -1px 8px 0;
}

.service,
.topbar_wrapper li {
  float: left;
}

.app-download {
  position: relative;
}

/*
  制作上三角的图标
*/
.app-download::after {
  content: "";
  display: none;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: none;
  border-bottom-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-download .qrcode {
  /* display: none; */
  width: 124px;
  /* height: 148px; */
  height: 0;
  overflow: hidden;
  transition: height 0.3s;

  background-color: #fff;
  line-height: 1;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: -36px;
  z-index: 900;
}

/*
  当鼠标移入<a>标签时，显示上三角和qrcode
*/
.app-download:hover::after {
  display: block;
}
.app-download:hover .qrcode {
  height: 148px;
}

.app-download .qrcode img {
  margin: 17px;
  margin-bottom: 10px;
  width: 90px;
}

.app-download .qrcode span {
  color: #000;
  font-size: 14px;
}

.shopping-cart,
.user-info {
  float: right;
}

.shopping-cart {
  margin-left: 25px;
}

.shopping-cart a {
  width: 120px;
  background-color: #424242;
  text-align: center;
}

.shopping-cart:hover a {
  color: #ff6700;
  background-color: #fff;
}

/***** 头部 *********/

.header-wrapper {
  position: relative;
}

.header {
  height: 100px;
}

/***** logo **********/
.header .logo {
  position: relative;
  float: left;
  margin-top: 22px;
  width: 55px;
  height: 55px;
  overflow: hidden;
}

.header .logo a {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #ff6700;
  background-image: url("../img/mi-logo.png");
  background-position: center center;
  left: 0;
  transition: left 0.2s;
}

.header .logo .logo-home {
  left: -55px;
  background-image: url("../img/mi-home.png");
}

.header .logo:hover .logo-home {
  left: 0;
}

.header .logo:hover .logo-mi {
  left: 55px;
}

/* 设置中间的导航条 */
.header .nav-wrapper {
  float: left;
  margin-left: 7px;
}

.nav-wrapper li {
  float: left;
}

.header .nav {
  height: 100px;
  line-height: 100px;
  padding-left: 58px;
}

.nav-wrapper li a {
  display: block;
  font-size: 16px;
  margin-right: 20px;
}

.nav-wrapper li a:hover {
  color: #ff6700;
}

.all-goods {
  visibility: hidden;
}

/* 显示商品的弹出框 */
.goods-info {
  width: 100%;
  height: 228px;
  background-color: #fff;
  /* border-top: 1px solid rgba(224,224,224);
  box-shadow: 0 3px 3px rgba(0,0,0,.2); */
  position: absolute;
  z-index: 899;
  top: 100px;
  left: 0;
  height: 0;
  transition: height 0.3s;
}

.nav .show-goods:hover ~ .goods-info,
.goods-info:hover {
  height: 228px;
  border-top: 1px solid rgba(224, 224, 224);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
